<form id="myForm" action="/results" method="GET">
  <div>
    <h3>How much does your future cat shed?*</h3>

    <span>None</span>

    <input type="radio" id="shedding-1" name="shedding" value="1"/ required>
    <label for="shedding-1">1</label>
    
    <input type="radio" id="shedding-2" name="shedding" value="2"/>
    <label for="shedding-2">2</label>

    <input type="radio" id="shedding-3" name="shedding" value="3"/>
    <label for="shedding-3">3</label>

    <input type="radio" id="shedding-4" name="shedding" value="4"/>
    <label for="shedding-4">4</label>

    <input type="radio" id="shedding-5" name="shedding" value="5"/>
    <label for="shedding-5">5</label>

    <span>A lot</span>
  </div>
  <div>
    <h3>How affectionate do you want your cat to be?*</h3>

    <span>Cool and aloof</span>

    <input type="radio" id="affection-1" name="family_friendly" value="1" required/>
    <label for="affection-1">1</label>
    
    <input type="radio" id="affection-2" name="family_friendly" value="2"/>
    <label for="affection-2">2</label>

    <input type="radio" id="affection-3" name="family_friendly" value="3"/>
    <label for="affection-3">3</label>

    <input type="radio" id="affection-4" name="family_friendly" value="4"/>
    <label for="affection-4">4</label>

    <input type="radio" id="affection-5" name="family_friendly" value="5"/>
    <label for="affection-5">5</label>
    
    <span>Has attachment issues</span>
  </div>
  <div>
    <h3>How playful do you want your cat to be?*</h3>

    <span>Serious</span>

    <input type="radio" id="playful-1" name="playfulness" value="1" required/>
    <label for="playful-1">1</label>
    
    <input type="radio" id="playful-2" name="playfulness" value="2"/>
    <label for="playful-2">2</label>

    <input type="radio" id="playful-3" name="playfulness" value="3"/>
    <label for="playful-3">3</label>

    <input type="radio" id="playful-4" name="playfulness" value="4"/>
    <label for="playful-4">4</label>

    <input type="radio" id="playful-5" name="playfulness" value="5"/>
    <label for="playful-5">5</label>
    
    <span>Very playful</span>
  </div>
  <div>
    <h3>Do you want your cat to get along with other pets? (optional)</h3>

    <span>Hates other pets</span>

    <input type="radio" id="other-pets-1" name="other_pets_friendly" value="1"/>
    <label for="other-pets-1">1</label>
    
    <input type="radio" id="other-pets-2" name="other_pets_friendly" value="2"/>
    <label for="other-pets-2">2</label>

    <input type="radio" id="other-pets-3" name="other_pets_friendly" value="3"/>
    <label for="other-pets-3">3</label>

    <input type="radio" id="other-pets-4" name="other_pets_friendly" value="4"/>
    <label for="other-pets-4">4</label>

    <input type="radio" id="other-pets-5" name="other_pets_friendly" value="5"/>
    <label for="other-pets-5">5</label>
    
    <span>Great with other pets</span>
  </div>
  <div>
    <h3>Do you want your cat to get along with children? (optional)</h3>

    <span>Hates children</span>

    <input type="radio" id="children-friendly-1" name="children_friendly" value="1"/>
    <label for="children-friendly-1">1</label>
    
    <input type="radio" id="children-friendly-2" name="children_friendly" value="2"/>
    <label for="children-friendly-2">2</label>

    <input type="radio" id="children-friendly-3" name="children_friendly" value="3"/>
    <label for="children-friendly-3">3</label>

    <input type="radio" id="children-friendly-4" name="children_friendly" value="4"/>
    <label for="children-friendly-4">4</label>

    <input type="radio" id="children-friendly-5" name="children_friendly" value="5"/>
    <label for="children-friendly-5">5</label>
    
    <span>Kid-friendly</span>
  </div>
  <div>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </div>
</form>