<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Breed Recommender</title>
</head>
<body>
  <header><h1>Let's find a suitable cat breed for you!</h1></header>
  <main>
    <%- body %>
  </main>
  <footer>
    <hr/>
    <small>Built by Yifan Tang 2024</small>
  </footer>
</body>
</html>