<a href="/cats">Restart</a>
<br/>
<% if(data.length > 0 ) { %>
  <% data.forEach(cat => { %>
    <div><%= cat.name %></div>
    <img src=<%= cat.image_link %> width="200"/>
  <% }) %>
<% }else { %>
  <div>No suitable breeds found...please try again</div>
<% } %>
<br/>
<a href="/cats">Restart</a>


